  <table>
    <thead>
    <tr>
      <th (click)="sortBy('priority')">⮃ Priority</th>
      <th (click)="sortBy('task')">⮃ Task</th>
      <th (click)="sortBy('status')">⮃ Status</th>
      <th (click)="sortBy('dateCreated')">⮃ Date Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of sortedData" [ngClass]="{
      'completed': item.completed, 
      'low': item.priority === 'low',
      'medium': item.priority === 'medium',
      'high': item.priority === 'high'
      }">
      <td>{{item.priority}}</td>
      <td><p>{{ item.task }}</p></td>
      <td>{{ item.completed ? 'Done' : 'Pending' }}</td>
      <td>{{item.createAt | date:'short'}}</td>
      <td>
        <input
          type="checkbox"
          [checked]="item.completed"
          (change)="toggleTodo(item)"
          >
        <button
          type="button"
          class="delete-button"
          (click)="deleteTodo(item)">
            Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>