
<h1>My To-Do List</h1>

<form (ngSubmit)="onFormSubmit()">

    <label for="todo-input">
        Add a new task:
    </label>
    <textarea 
            type="text" 
            id="todo-input" 
            name="todoTask" 
            [(ngModel)]="newTaskText" 
            required  ></textarea>
            
            
            
            
            <div class="priority-selector">
                
                <button type="button"class="priority-button-low" 
                (click)="setPriority('low')" 
                [class.active]="selectedPriority === 'low'">
                LOW
            </button>
            
            <button type="button"class="priority-button-medium" 
            (click)="setPriority('medium')" 
            [class.active]="selectedPriority === 'medium'">
            MEDIUM
        </button>

        <button type="button"class="priority-button-high" 
          (click)="setPriority('high')" 
          [class.active]="selectedPriority === 'high'">
          HIGH
        </button>

    </div>
    
    <button type="submit"
    class="submit-button">
        ⮞
    </button>

</form>